<%= render 'layouts/header' %>
<div class="container justify-content-center mt-5" style="width: 450px; min-height: 100vh">
    <div class="card">
      <h4 class="card-header"><%= t('forms.editing_user.title') %></h4>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <h5 class="card-title"><%= t('forms.editing_user.change_email') %></h5>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="user[email]" autocomplete="email" placeholder="name@example.com">
            <label for="email"><%= t('forms.editing_user.new_email') %></label>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="alert alert-warning">
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
          <% end %>

          <br>
          <h5 class="card-title"><%= t('forms.editing_user.change_password') %></h5>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="user[password]" autocomplete="new-password" placeholder="Password">
            <label for="password"><%= t('forms.editing_user.new_password') %></label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password_confirmation" name="user[password_confirmation]" autocomplete="new-password" placeholder="Confirm password">
            <label for="password_confirmation"><%= t('forms.editing_user.confirm_new_password') %></label>
          </div>

          <br>
          <h5 class="card-title"><%= t('forms.editing_user.save_changes') %>*</h5>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="current_password" name="user[current_password]" autocomplete="current-password" placeholder="Current password">
            <label for="current_password"><%= t('forms.editing_user.current_password') %></label>
          </div>

          <br>

          <div class="d-flex justify-content-center">
            <%= f.submit t('forms.editing_user.apply'), class: "btn btn-primary", style: "width: 100%" %>
          </div>
        <% end %>
      </div>
    </div>

  <%= button_to t('forms.editing_user.delete'), registration_path(resource_name), class: "btn btn-outline-danger mt-3", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>
<%= render 'layouts/footer' %>
