<div id="<%= dom_id dotfile %>">
  <p>
    <strong>Title:</strong>
    <%= dotfile.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dotfile.description %>
  </p>

  <p>
    <strong>Config type:</strong>
    <%= dotfile.config_type %>
  </p>

  <p>
    <%= link_to 'View file', dotfile.file %>
  </p>
</div>
