<div id="<%= dom_id dotfile %>">
  <p>
    <strong>Title:</strong>
    <%= dotfile.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= highlight(dotfile.user.username, params.dig(:q, :title_or_description_or_config_type_or_user_username_cont)) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= highlight(dotfile.description, params.dig(:q, :title_or_description_or_config_type_or_user_username_cont)) %>
  </p>

  <p>
    <strong>Config type:</strong>
    <%= highlight(dotfile.config_type, params.dig(:q, :title_or_description_or_config_type_or_user_username_cont)) %>
  </p>

  <p>
    <%= link_to 'View file', dotfile.file %>
  </p>
</div>
