<%= render 'layouts/header' %>
<div class="container justify-content-center mt-5" style="width: 450px; min-height: 100vh">
  <div class="card shadow-sm">
    <% if defined?(purpose) && purpose == "new" %>
      <h4 class="card-header"><%= t('forms.creating_dotfile.title') %></h4>
    <% elsif defined?(purpose) && purpose == "edit" %>
      <h4 class="card-header"><%= t('forms.editing_dotfile.title') %></h4>
    <% end %>
    <div class="card-body">
      <%= form_with(model: dotfile) do |form| %>
        <% if dotfile.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% dotfile.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="container">
          <div class="mb-3">
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :description, class: "form-label" %>
            <%= form.text_area :description, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :config_type, class: "form-label" %>
            <%= form.select :config_type, options_for_select([
              ["", ""],
              ["tmux", "tmux"],
              ["nvim", "nvim"],
              ["fish", "fish"],
              ["nginx", "nginx"],
            ], selected: @dotfile.config_type), {}, {class: "form-select form-select"} %>
          </div>

          <div class="mb-3">
            <%= form.label :file, class: "form-label" %>
            <%= form.file_field :file, class: "form-control", type: "file" %>
          </div>

          <div class="mb-3">
            <%= form.number_field :user_id, id: :dotfile_user_id, value: current_user.id, type: :hidden %>
          </div>

          <br>

          <div class="d-flex justify-content-center">
            <%= form.submit class: "btn btn-primary shadow-sm", style: "width: 100%" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if defined?(purpose) && purpose == "edit" %>
    <div>
      <%= button_to t('forms.editing_dotfile.delete'), @dotfile, class: "btn btn-outline-danger mt-3", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </div>
  <% end %>
</div>
<%= render 'layouts/footer' %>
