<p style="color: green"><%= notice %></p>

<h1>Dotfiles</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title_or_description_or_config_type_or_user_username_cont %>
  <%= f.search_field :title_or_description_or_config_type_or_user_username_cont,
    autofocus: true, autocomplete: 'off' %>

  <%= f.submit %>
<% end %>

<div id="dotfiles">
  <% @dotfiles.each do |dotfile| %>
    <%= render dotfile %>
    <p>
      <%= link_to "Show this dotfile", dotfile %>
    </p>
  <% end %>
</div>

<% if @pagy.count > @pagy.items %>
  <%== pagy_nav(@pagy) %>
<% end %>
