<%= turbo_stream.append :dotfiles do %>
  <% @dotfiles.each do |dotfile| %>
    <%= render dotfile %>
    <p>
      <%= link_to "Show this dotfile", dotfile %>
    </p>
  <% end %>
<% end %>

<% if @pagy.next.present? %>
  <%= turbo_stream.replace :pagination do %>
    <%= turbo_frame_tag :pagination, loading: :lazy,
        src: dotfiles_path(format: :turbo_stream, page: @pagy.next, q: params[:q]&.to_unsafe_h) %>
  <% end %>
<% end %>
