<%= render 'layouts/header' %>
<div class="container d-flex justify-content-center mt-5" style="width: 100%; weight: 100%; min-height: 100vh">
  <div style="width: 70%">
      <h1><%= t('header.explore') %></h1><br>

      <% if defined?(notice) && (not notice.nil?) %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
        <br>
      <% end %>
      
      <div class="form-inline">
        <%= search_form_for @q, url: dotfiles_path do |f| %>
          <div>
            <%= f.label :title_or_description_or_config_type_or_user_username_cont, t('forms.searching.search'), class: 'sr-only' %>
            <%= f.search_field :title_or_description_or_config_type_or_user_username_cont,
              class: 'form-control',
              autofocus: true,
              autocomplete: 'off',
              placeholder: t('forms.searching.search_placeholder') %>
          </div>

          <div class="mt-3">
            <%= f.label :config_type_eq, t('forms.searching.config_type'), class: 'sr-only' %>
            <%= f.select :config_type_eq,
              Dotfile.pluck(:config_type).uniq,
              { include_blank: true },
              class: 'form-select',
              style: 'width: 200px;',
              onchange: 'this.form.submit();'
            %>
          </div>

          <div>
            <div style="display: inline-block; width: 49.5%">
              <%= f.submit t('forms.searching.search_button'), class: 'btn btn-primary mt-3 shadow-sm' %>
            </div>
            <div style="display: inline-block; text-align: right; width: 49.5%">
              <%= t('forms.searching.order_by') %>:
              <%= sort_link(@q, :cached_weighted_like_score, t('forms.searching.votes'), default_order: :desc, hide_indicator: true, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover", style: "margin-left: 10px") %>
              <%= sort_link(@q, :created_at, t('forms.searching.recent'), default_order: :desc, hide_indicator: true, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover", style: "margin-left: 10px") %>
            </div>
          </div>
        <% end %>
      </div>

      <br><br>

      <div id="dotfiles">
        <% @dotfiles.each do |dotfile| %>
          <div class="mt-3">
            <%= render dotfile %>
          </div>
        <% end %>
      </div>

      <% if @dotfiles_pagy.count > @dotfiles_pagy.items %>
        <div class="d-flex justify-content-center mt-5" style="width: 100%; weight: 100%">
          <%== pagy_bootstrap_nav(@dotfiles_pagy) %>
        </div>
      <% end %> 
  </div>
</div>
<%= render 'layouts/footer' %>
