<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to t('global.title'), root_path, class: "navbar-brand", style: "font-weight: 600" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
        <li class="nav-item">
          <%= link_to t('header.explore'), dotfiles_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %> 
          <li class="nav-item">
            <%= link_to t('header.saved'), bookmarks_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('header.create'), new_dotfile_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div style="margin-right: 20px">
        <%= link_to 'en', dotfiles_path(locale: :en), class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
        <span class="text-secondary"> | </span><%= link_to 'ру', dotfiles_path(locale: :ru), class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
      </div>
      <% if user_signed_in? %> 
        <a class="nav-link dropdown-toggle me-2 text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= t('header.profile.title') %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end me-2" aria-labelledby="navbarDropdown">
          <li><h6 class="dropdown-header"><%= t('header.profile.title') %></h6></li>
          <li><%= link_to t('header.profile.edit'), edit_user_registration_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to t('header.profile.log_out'), destroy_user_session_path, class: "dropdown-item" %></li>
        </ul>
      <% else %>
        <span class="nav-item">
          <%= link_to t('header.log_in'), new_user_session_path, class: "nav-link text-secondary" %>
        </span> 
      <% end %>
    </div>
  </div>
</nav>
